header{
 
   font-family: courier;
   background-color: lightgray;
   padding-bottom: 20px;
}


header .nav-link {
  color: white;
  font-size: 30px;
  margin-top: 15px;
}


header ul li {
  padding: 15px;
}

body p{
  text-align: center;
}
body{
  background-color: white;
  margin: 0;
}

header ul li a{
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
   padding: 40px 0;
}

section .section-title {
   text-align: center;
   color: #007b5e;
   margin-bottom: 30px;
   text-transform: uppercase;
}
#footer {
   background: #007b5e !important;
}

#footer a {
   color: #ffffff;
   text-decoration: none !important;
   -webkit-text-decoration-skip: objects;
}

#footer ul.social li a i {
   margin-right: 5px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  margin-top:-10px;
}

#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}

section p {
  text-align: center; 
  font-size: 20px;
  color: white;
}
.crta{
  margin-bottom: 1%;
  width: 50%;
  margin: auto;
  margin-bottom: 1%;
}



@media (max-width:767px){
  #footer h5 {
   padding-left: 0;
   border-left: transparent;
   padding-bottom: 0px;
   margin-bottom: 10px;
}
}
/* Footer */

.logo{
  width: 77px;
  height: 111px;
   float: left;
   margin-top: 0.5%;
   margin-left: 10%;
   margin-right: -10%;
}

.naslov .vrh_middle{
	background-color: rgb(160, 157, 157);
	padding: 1%;
} 

.naslov .vrh_middle .naslov_vrh{
	color: white;
	text-align: center;
	font-size: 2.5vw;
	font-family: 'Times New Roman', Times, serif;
	width: 85%;
	margin: auto;
	padding: 0.5%;
}
.column {
    float: left;
    width: 50%;
  }

.naslov2 {
    font-size: 2vw;
    margin: 5%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}  
.ime {
    font-size: 2vw;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 2% 5%;    
}
.column p{
    color: white;
    font-size: 1.3vw;
    margin: 3% 5%;
    text-align: left;
}
.responsive{
    width: 80%;
    display: block;
    margin: 5% auto 5% auto;
    box-shadow: 9px 9px 7px gray;
}

a:hover{
   text-decoration: none;
}

.a_kontakt:hover{
   margin-left: 1%;
   font-weight: bold;
   -webkit-transition: .5s all ease;
   -moz-transition: .5s all ease;
   transition: .5s all ease;
}














